<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<DisplayInToolsMenu>true</DisplayInToolsMenu>
	
	<Process>
		<AttachToIIS>true</AttachToIIS>
	</Process>

	<Process>
		<AttachToIIS>true</AttachToIIS>
		<AppPool>test</AppPool>
	</Process>

	<Process>
		<AttachToIIS>true</AttachToIIS>
		<AppPool>test</AppPool>
		<CodeType>Managed (v4.0)</CodeType>
	</Process>

	<Process>
		<AttachToIIS>true</AttachToIIS>
		<AppPool>test</AppPool>
		<CodeType>Script</CodeType>
	</Process>
	
	<!--
	<Process>
		<AttachToIIS>true</AttachToIIS>
		<AppPool>test</AppPool>
		<CodeType>Managed (v4.0)</CodeType>
		<CodeType>Native</CodeType>
	</Process>
	
	<Process>
		<Name>test.exe</Name>
	</Process>
	-->
	
	<!--	
		Possible code types:
		
		Managed
		Managed (v2.0, v1.1, v1.0)
		Managed (v4.0)
		Managed/Native
		Native
		Script
		Silverlight
		Trace
		T-SQL
		Workflow
	-->
	
</Settings>